.DS_Store
.vscode
__pycache__
CONFIG.py
geckodriver*
phantomjs*
DataStore/Indices/NSE-Indices-2020-02-29.json
DataStore/StockData*
*TODO*
ghostdriver.log
Observations.md
SavedModels/
APIKeyUsageData.json
Models/ModelInfo.json
*[Tt]est*
stockmate
telegramAPIData.json
StockDataRetreiver.py
